@import url('https://fonts.googleapis.com/css?family=Anton|IBM+Plex+Mono|Muli');

body,html {
    font-family: 'Muli', sans-serif;
}
input, textarea, select{font-family:inherit;}

.theater {
    cursor: pointer;
}

h2,h4 {
    font-family: 'Acme', sans-serif;
}

.include-false {
    color: red;
}

.include-true {
    color: green;
}

.hidden-movie {
    cursor: pointer;
}
#hidden-movies ul {
    list-style-type: none;
}

#sk-circle {
    display: none;
}

.remove-button {
    background-image: url('remove.png');
    height: 16px;
    width: 16px;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
}

.tooltip {
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltiptext ul {
    list-style-type: none;
    padding: 5px 15px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#sidebar {
    position: fixed;
    width: 320px;
    height: 100%;
    z-index: 1;
}

#location-form {
    font-family: 'IBM Plex Mono', monospace;
    display: grid;
    grid-template-rows: 20px 30px 20px 30px 20px 30px 20px 30px 30px;
    grid-template-columns: 260px 60px;
}
#zip-label {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
#zip {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
#distance-label {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
#distance {
    width: 240px;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
#unit-select {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
#datefrom-label {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}
#datefrom {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}
#dateto-label {
    grid-column: 1 / 3;
    grid-row: 7 / 8;
}
#dateto {
    grid-column: 1 / 3;
    grid-row: 8 / 9;
}
#submit {
    grid-column: 1 / 3;
    grid-row: 9 / 10;
}

#movie-list {
    margin-left: 325px;
    width: calc(100% - 320px);
}
#movie-list ul {
    list-style-type: none;
}
#movie-list td, #movie-list th {
    border: 1px solid #ddd;
    padding: 8px;
}
#movie-list tr:nth-child(even) {
    background-color: #f2f2f2;
}
#movie-list tr:nth-child(odd) {
    background-color: #ddd;
}
#movie-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

#theater-list ul {
    list-style-type: none;
}
